*{
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    background: linear-gradient(to right, rgb(0,49,148),rgb(0, 179, 255));
    padding: 8px;
    text-align: center;
    color: antiquewhite;
    letter-spacing: 2px;
    box-shadow: 0px 2px 5px gray;
}

#contenedor {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
}


h2,
p {
    color: crimson;
}

h2 span,
p span {
    color: slategray;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button{
    background: linear-gradient(to right, rgb(0,49,148),rgb(0, 179, 255));
    text-transform: uppercase;
    color:#fff;
    border:none;
    position:relative;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
    height:60px;
    font-size:1.6em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:rgb(0, 179, 255)
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(0,49,148);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }